[project]
	description = Just a demo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SatyaCts
[access "refs/for/refs/*"]
	read = group user/SatyaCts
	push = group user/SatyaCts
	label-Code-Review = -2..+2 group user/SatyaCts
	label-Verified = -1..+1 group user/SatyaCts
	rebase = group user/SatyaCts
	removeReviewer = group user/SatyaCts
	submit = group user/SatyaCts
[access "refs/heads/*"]
	read = group user/SatyaCts
	create = group user/SatyaCts
	push = +force group user/SatyaCts
	pushMerge = group user/SatyaCts
[access "refs/tags/*"]
	push = group user/SatyaCts
	push = +force group user/SatyaCts
